.main_container {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 60px);
}

.toolbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
    position: sticky;
    border-radius: 10px 10px 0px 0px;
    z-index: 9;
}

.question_navigation_container {
    display: flex;
    gap: 10px;
}

.language_select_btn_container {
    display: flex;
    gap: 10px;
}

.question_content_container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
}

.question {
    padding: 0px 20px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

.problem_statement_metadata {
    display: flex;
    gap: 10px;
    align-items: center;
}

.content {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 2;
    padding: 10px;
    border-radius: 10px;
}

.editor {
    height: calc(80vh - 10px);
    width: 100%;
    border: 1px solid grey;
    border-radius: 4px;
}

.input_output_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btn_container {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.test_cases_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.accordion_container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-height: 60vh;
    overflow-y: auto;
}