.main_container {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 72px);
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: sticky;
    top: 60px;
    z-index: 9;
}

.question_navigation_container {
    display: flex;
    gap: 10px;
}

.language_select_btn_container {
    display: flex;
    gap: 10px;
}

.question_content_container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 10px 20px;
}

.question {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

.content {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    flex: 2;
}

.editor {
    height: 50vh;
    width: 100%;
    border: 1px solid grey;
    border-radius: 4px;
}

.input_output_container {
    display: flex;
    /* flex-direction: column; */
    gap: 20px;
    flex-wrap: wrap;
}

.btn_container {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}