.container {
    background-color: #f4f4f9;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.hero {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(135deg, #1a5fb4, #c01c28);
    color: white;
    height: 100vh;
}

.heroText {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
}

.heroText h1 {
    font-size: 3rem;
}

.heroText p {
    font-size: 1.2rem;
}

.btn_container {
    display: flex;
    gap: 20px;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 30px;
}

.section_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.courses {
    padding: 100px 10%;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 30px;
    width: 280px;
}

.card h3 {
    margin: 0 0 10px 0;
}

.card p {
    font-size: 1rem;
}

@media (max-width: 1050px) {
    .illustration {
        display: none;
    }
}