.navbar {
    position: sticky;
    top: 0px;
    z-index: 9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0px 20px;
    background: linear-gradient(135deg, #1a5fb4, #c01c28);
}